<div style="display: flex; flex-direction: column; gap: 8px; align-items: flex-start;">
    <a class="navbar-brand" style="font-size:14px; color: #000; text-decoration: none;" href="/brewery/dashboard">
        <div style="display: flex; align-items: center;">
            <svg xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 -960 960 960" width="40px" fill="#000000">
                <path d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Z"/>
            </svg>
            <span style="margin-left: 12px; display: flex; align-items: center; height: 40px;">Dashboard Birrificio</span>
        </div>
    </a>
</div>