<!DOCTYPE html>
<html lang="it">
<head>
    <meta http-equiv="content-type; X-UA-Compatible"
		content="text/html; IE=edge; charset=UTF-8; X-Content-Type-Options=nosniff">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/toggle.css">
</head>
<body>
    <script>
        console.log('Valore di message:', '{{ message | dump | safe }}');
    </script>
    <!-- Gestione dei message -->
    {% if message %}
        {% if message.error %}
            <div class="alert alert-danger">
                {{ message.error }}
            </div>
        {% endif %}
        {% if message.info %}
            <div class="alert alert-info">
                {{ message.info }}
            </div>
        {% endif %}
        {% if message.warning %}
            <div class="alert alert-warning">
                {{ message.warning }}
            </div>
        {% endif %}
    {% endif %}
    <header>
        <h1>{% block header %}{% endblock %}</h1>
        <nav>
            <ul>
                {% if alreadyLoggedIn %}
                    <li><a href="/dashboard">Dashboard</a></li>
                    <li><a href="/logout">Logout</a></li>
                {% else %}
                    <li><a href="/login">Login</a></li>
                    <li><a href="/register">Registrati</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; 2023 SharingBeer2_0. Tutti i diritti riservati.</p>
    </footer>
    <script src="/js/scripts.js"></script>
</body>
</html>