{% extends "../layout.njk" %}

{% block content %}
<div class="container">
    <h1>Login</h1>
    <form id="loginForm" method="post" name="loginForm">
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="email" id="username" name="username" required>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <div class="password-container">
                <input type="password" id="password" name="password" required>
                <img src="/images/visibility.svg" alt="Mostra password" id="togglePassword" class="toggle-password">
            </div>
        </div>
        <input type="button" id="loginButton" value="Login"/> <!-- Pulsante con gestione via JS -->
    </form>
    <p>Non hai un account? <a href="/register">Registrati qui</a></p>
</div>

<!--<div class="social-login">
    <a href="/auth/google"><img src="/images/google.svg" alt="Google" width="32"></a>
    <a href="/auth/facebook"><img src="/images/facebook.svg" alt="Facebook" width="32"></a>
    <a href="/auth/twitter"><img src="/images/twitter.svg" alt="Twitter" width="32"></a>
    <a href="/auth/instagram"><img src="/images/instagram.svg" alt="Instagram" width="32"></a>
    <a href="/auth/apple"><img src="/images/apple.svg" alt="Apple" width="32"></a>
    <a href="/auth/amazon"><img src="/images/amazon.svg" alt="Amazon" width="32"></a>
</div> -->

<!-- Includi lo script login.js -->
<script src="/js/login.js"></script>
{% endblock %}