{% extends "layout.njk" %}

{% block title %}Dashboard Birrificio{% endblock %}

{% block header %}Dashboard Birrificio{% endblock %}

{% block content %}
<section>
    <h2>Benvenuto, Birrificio!</h2>
    <p>Questa pagina è però ancora tutta da impostare.</p>
    <!--<ul>
        <li><a href="/user/orders">I miei Ordini</a></li>
        <li><a href="/user/profile">Il mio Profilo</a></li>
    </ul>-->
</section>
{% endblock %}